$1$   $ùëáùë¢ùëùùëôùëí$ $ùëñùëõ$ $ùëÉùë¶ùë°‚Ñéùëúùëõ$ ‚àí $ùë°ùë¢ùëùùëôùëí()$

$2$   $ùêºùëõùë°ùëüùëúùëëùë¢ùëêùë°ùëñùëúùëõ$ $ùëäùëñùë°‚Ñé$  $ùêµùëéùë†ùëñùëê$ $ùëÜùë¶ùëõùë°ùëéx$


- 'tuple' of the one of the pre-defined class and treated as list data type.
- The purpose of tuple data type is that "To store Collection of Values or multiple
  values either of Same type or different type or both the types with unique and duplicate."
- The elements of tuple must be stored within braces ( ) and the elements must
  separated by comma.
- An object of tuple maintains inerstion Order.
- On the object of tuple, we can perform Both Indexing and Slicing.
- An object of tuple belongs to immutable bcoz tuple' object does not support item
  assignment
- To convert any other object into tuple type object, we use tuple()
- Syntax of tuple()=>Syntax:- tuple_object1=tuple([object])

$We$ $can$ $create$ $two$ $types$ $of$ $tuple$ $objects....$  $They$ $are$
-      a) empty tuple
-      b) non-empty tuple
  
- a) empty tuple:
                An empty tuple is one, which does not contain any elements and length is 0
                Syntax:- tupleobj=()
                           OR
                         tupleobj=tuple()

- b) non-empty tuple:
                    A non-empty tuple is one, which contains elements and length is >0
                     Syntax:- tplobj=(val1,val2...val-n)
                                    (OR)
                                tplobj=val1,val2...val-n

$Dir$ $Tuple()$

- It give the what are methods/functions in the tuple in a python
- The above are the methods/functions used in tuple in a python.

In [43]:
dir(tuple)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [53]:
tpl=()
print(type(tpl))

<class 'tuple'>

In [57]:
tpl1=(1,2,3,"a","b","c",2+3j,1.5,1,2,3)
print(tpl1,type(tpl1))

(1, 2, 3, 'a', 'b', 'c', (2+3j), 1.5, 1, 2, 3) <class 'tuple'>

$explanation$ $for$ $the$ $above$
- 1)tuple allows the heterogeneous values or different data type or different values
- 2)In tuple() duplication is allowed

$Len$-$Function$

In [58]:
tpl2=(1,2,3,"a","b","c")
print("the length of the given tuple is:",len(tpl2))

the length of the given tuple is: 6

$explanation$ $of$ $the$ $above$

- 1)len() functions gives the length of the non empty tuple object
- 2)syntax-len(tuple_object)
- 3)The len() function is used to find the length of a tuple
- 4)which is equivalent to the size of the tuple

$Min$-$Function$

In [59]:
tpl3=(1,2,3,"a","b","c")
print("minimum value in the given tuple is::",min(tpl3))

TypeError: '<' not supported between instances of 'str' and 'int'

In [63]:
tpl3=(1,2,3)
print("minimum value in the given tuple is::",min(tpl3))

tpl3=("a","b","c")
print("minimum value in the given tuple is::",min(tpl3))

minimum value in the given tuple is:: 1
minimum value in the given tuple is:: a

$explanation$ $of$ $the$ $above$

- 1)The minimum function denoted by the min()
- 2) syntax‚Äìmin(tuple_object)
- 3)we can‚Äôt find the minimum value of a heterogenous tuple()-it gives type error
- TypeError Traceback (most recent call last)
- Input In [14], in <cell line: 3>()
- 1 tpl3=(1,2,3,"a","b","c")
- 3 print(‚Äúminimum value in the given tuple is::‚Äù,min(tpl3))
- TypeError: ‚Äò<‚Äô not supported between instances of ‚Äòstr‚Äô and ‚Äòint‚Äô
- 4)min function/method support only on the homogeneous(same data type values) value of a tuple
- 5)min function gives the minimum value of the non empty tuple object with the similar or same
   data type

In [64]:
tpl3=(1,2,3)
print("maximum value in the given tuple is::",max(tpl3))

tpl3=("a","b","c")
print("maximum value in the given tuple is::",max(tpl3))

maximum value in the given tuple is:: 3
maximum value in the given tuple is:: c

$explanation$ $of$ $the$ $above$

- 1)The maximum function denoted by the min()
- 2) syntax‚Äìmax(tuple_object)
- 3)we can‚Äôt find the maximum value of a heterogenous tuple()-it gives type error
- TypeError Traceback (most recent call last)
- Input In [14], in <cell line: 3>()
- 1 tpl3=(1,2,3,"a","b","c")
- 3 print(‚Äúmaximum value in the given tuple is::‚Äù,max(tpl3))
- TypeError: ‚Äò<‚Äô not supported between instances of ‚Äòstr‚Äô and ‚Äòint‚Äô
- 4)max function/method support only on the homogeneous(same data type values) value of a tuple
- 5)max function gives the max value of the non empty tuple object with the similar or same data
   type

In [65]:
tpl4=()
print(min(tpl4))
print(max(tpl4))

ValueError: min() arg is an empty sequence

$explanation$ $of$ $the$ $above$

- when the tuple onject is empty and the min,max- functions gives the-value error

$concatenation$-$in$-$tuple$

In [67]:
tpl5=(1,2,3)
tpl6=("a","b","c")
tpl7=tpl5+tpl6
print("the concatenation of the both tuple is:",tpl7)

the concatenation of the both tuple is: (1, 2, 3, 'a', 'b', 'c')

In [68]:
tpl_a=()
tpl_b=()
tpl_c=tpl_a+tpl_b
print(tpl_c)

()

$explanation$ $of$ $the$ $above$

- 1)concatenation is posiible in tuple botht the empty and the non empty tuple object
- 2)syntax‚Äì>tuple_object1+tuple_object2
- 3)‚Äú+‚Äù‚Äì it is the concatenation oparator
- 4)concatenation is the combining or joining of the both empty and the non empty tuple_object

$index$-$Function$

In [72]:
tpl8=(400,500,600,"apple","heyy","python")
print("length of thee given non empty object is:",len(tpl8))
print("the value of the given index is:",tpl8[0])
print("the value of the given index is:",tpl8[1])
print("the value of the given index is:",tpl8[2])
print("the value of the given index is:",tpl8[3])
print("the value of the given index is:",tpl8[4])
print("the value of the given index is:",tpl8[5])

length of thee given non empty object is: 6
the value of the given index is: 400
the value of the given index is: 500
the value of the given index is: 600
the value of the given index is: apple
the value of the given index is: heyy
the value of the given index is: python

In [73]:
print(tpl8[0::])

(400, 500, 600, 'apple', 'heyy', 'python')

In [74]:
#reversing the tuple object value
print(tpl8[::-1])

('python', 'heyy', 'apple', 600, 500, 400)

In [75]:
print(tpl8[0:3])

(400, 500, 600)

In [76]:
tpl8[0]=200

TypeError: 'tuple' object does not support item assignment

$explanation$ $of$ $the$ $above$

- 1)index function is possible in tupple
- 2)tuple() object doesn‚Äôt support the item assignment
- 3)There is no reverse() method in tuple to reverse it
- 4)but,using the negative indexing we can perform the reverse operation
- 5)reversing the tuple() object using the negative indexing

- TypeError Traceback (most recent call last)
- Input In [44], in <cell line: 1>()
- 1 tpl8[0]=200
- TypeError: ‚Äòtuple‚Äô object does not support item assignment

$Mutable$ $or$ $Immutable$ $Concept$

$NOTE:$
    
- 1)possible methods/functions in tuple():
- a)count()
- b)index()
- c)len(tuple)
- d)min()
- e)max()

$2)$ $methods$/$functions$ $not$ $present$ $in$ $tuple():$
    
- a)append()
- b)insert()
- c)remove()
- d)clear()
- e)pop(index)
- f)pop()
- g)reverse()
- h)sort()
- i)copy()
- j)extend()

In [1]:
tup9=(1,2,"a","b","a")
print(tup9.append("hi"))

AttributeError: 'tuple' object has no attribute 'append'

In [2]:
print(tup9.insert("hi"))

AttributeError: 'tuple' object has no attribute 'insert'

In [3]:
print(tup9.remove(1))

AttributeError: 'tuple' object has no attribute 'remove'

In [81]:
print(tup9.clear())

AttributeError: 'tuple' object has no attribute 'clear'

In [82]:
print(tup9.pop(0))

AttributeError: 'tuple' object has no attribute 'pop'

In [83]:
print(tup9.pop())

AttributeError: 'tuple' object has no attribute 'pop'

In [84]:
print(tup9.reverse())

AttributeError: 'tuple' object has no attribute 'reverse'

In [85]:
print(tup9.sort())

AttributeError: 'tuple' object has no attribute 'sort'

In [86]:
print(tup9.extend())

AttributeError: 'tuple' object has no attribute 'extend'

In [87]:
t=tup9.copy()
print(t)

AttributeError: 'tuple' object has no attribute 'copy'

$explanation$

- 1) the above methods/functions are not possible in tuple concept or tuple doent have such methods in it
- 2) tuple() object is immutable!!!

In [88]:
#count method in tuple() object

print(tup9.count("b"))

1

$Iteration$ $-$ $for$ $-$ $while$ $-$ $loop$

In [90]:
# for loop-concept


tup=(11,12,"and","in","for")
for i in range(0,len(tup)):
    print(i,"==>",tup[i])

0 ==> 11
1 ==> 12
2 ==> and
3 ==> in
4 ==> for

In [94]:
#while loop

i=0
while i<len(tup):
    print(i,"==>",tup[i])
    i=i+1

0 ==> 11
1 ==> 12
2 ==> and
3 ==> in
4 ==> for

$explanation$ $of$ $the$ $above$ $concept:$

- 1) while the indexing and lenth methods are supported in tuple
- 2) so iteration is possible in tuple in both for and while loop.

$Slicing$

In [95]:
tuple= ('a','b','c','d','e','f','g','h','i','j')
print(tuple[0:6])
print(tuple[1:9:2])
print(tuple[-1:-5:-2])

('a', 'b', 'c', 'd', 'e', 'f')
('b', 'd', 'f', 'h')
('j', 'h')

$explanation$ $for$ $the$ $above:$
    
- 1) syntax==>tuple[Start : Stop : Stride]
- 2) slicing is possible in non empty tuple() object

In [96]:
my_tuple=('u', 'r', 'i', 'a', 'l', 's', 'p', 'o', 'i', 'n', 't')
print(my_tuple[::5]) #Print elements = ('t', 'u', 'r', 'i', 'a', 'l', 's','p','o', 'i', 'n', 't')
print(my_tuple[1:]) #Print elements from index 1 to end
print(my_tuple[:2]) #Print elements from start to index 2
print(my_tuple[5:12]) #Print elements from index 1 to index 3

('u', 's', 't')
('r', 'i', 'a', 'l', 's', 'p', 'o', 'i', 'n', 't')
('u', 'r')
('s', 'p', 'o', 'i', 'n', 't')